.slide__list {
    list-style: url('../../../images/romb.svg');
    height: auto;
    margin: 0;
    padding: 0 0 110px 0;
}

@media screen and (max-width: 768px) {
    .slide__list {
        margin: 0 auto;
        padding-bottom: 60px;
    }
}

@media screen and (max-width: 545px) {
    .slide__list {
        max-width: 303px;
        padding-bottom: 60px;
    }
}