@import url('./__thumb/slider__thumb.css');
@import url('./__image/slider__image.css');
@import url('./__caption/slider__caption.css');
@import url('./__caption-box/slider__caption-box.css');

.slider {
    padding: 0;
    margin: 0;
    width: 628px;
    border-radius: 19px;
    resize: both;
}

@media screen and (max-width: 1024px) {
    .slider {
        margin: 0;
        width: 492px;
    }
}

@media screen and (min-width: 320px) and (max-width: 545px) {
    .slider {
        max-width: 90%;
    }
}