.slider {
    padding: 0;
    margin: 0;
    max-width: 628px;
    height: 399px;
    position: relative;
    border-radius: 19px;
    resize: both;
}

.slider__thumb {
    background-color: #FF9820;
    background-image: url('../../images/vector.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    width: 28px;
    height: 28px;
    border-radius: 1em;
    border: 1px solid #FF9820;
}