.form__close {
    margin: 0;
    padding: 0;
    width: 40px;
    background-color: transparent;
    border: none;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    transform: rotate(45deg);
    position: absolute;
    top: 12px;
    right: 12px;
}