@import url('./__icon/chat__icon.css');
@import url('./__icon/_type/chat__icon_type_acc.css');
@import url('./__msg/chat__msg.css');
@import url('./__msg/_type/chat__msg_type_acc.css');
@import url('./__msg/_type/chat__msg_type_user.css');
@import url('./__text/chat__text.css');
@import url('./__button/chat__button.css');

.chat {
    margin: 0 0 0 200px;
    padding: 0;
    max-width: 491px;
    max-height: 389px;
    display: flex;
    flex-wrap: wrap;
}
