@import url('./__icon/chat__icon.css');
@import url('./__icon/_type/chat__icon_type_acc.css');
@import url('./__icon/_type/chat__icon_type_user.css');
@import url('./__msg/chat__msg.css');
@import url('./__msg/_type/chat__msg_type_acc.css');
@import url('./__msg/_type/chat__msg_type_user.css');
@import url('./__msg/_visible/chat__msg_visible.css');
@import url('./__text/chat__text.css');
@import url('./__button/chat__button.css');
@import url('./__typing/chat__typing.css');
@import url('./__typing/_type/chat__typing_type_user.css');
@import url('./__typing/_type/chat__typing_type_acc.css');

.chat {
    align-self: flex-end;
    margin: 0;
    padding: 0;
    width: 491px;
    max-height: 389px;
    position: relative;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1190px) {
    .chat {
        margin: 60px auto 0 auto;
    }
}

@media screen and (min-width: 320px) and (max-width: 545px) {
    .chat {
        margin: 60px auto 0 auto;
        width: 343px;
        max-height: 409px;
    }
}