.price__work-speech {
    margin: 0 0 0 31px;
    padding: 0;
    height: 150px;
    width: 490px;
    background-image: url(../../../images/speech.svg);
    background-repeat: no-repeat;
    display: flex;
    align-content: center;
}

@media screen and (max-width: 715px) {
    .price__work-speech {
        background-image: url(../../../images/speech-bubble2.svg);
        background-position: center;
        background-size: contain;
        width: 308px;
        height: 192px;
        margin: 0 auto;
        padding-bottom: 26px;
    }
}