.price__button {
    width: 200px;
    height: 60px;
    margin: 107px auto 0 auto;
    padding: 0;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    background-color: #FF9820;
    color: white;
    border-radius: 3px;
}