@import url(./__title/info__title.css);

.info {
    margin: 74px 40px 40px 40px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

@media screen and (max-width: 1190px) {
    .info {
        margin-left: 20px;
        margin-right: 20px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}


@media screen and (min-width: 320px) and (max-width: 545px) {
    .info {
        margin-top: 40px;
        margin-left: 5%;
        margin-right: 5%;
    }
}