.header__nav {
    padding: 0;
    margin: auto 0 auto auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
    justify-self: flex-end;
}

@media screen and (max-width: 940px) {
    .header__nav {
        display: none;
    }
}