.team__grid {
    margin: 80px auto 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: 274.2px;
    column-gap: 100px;
}

@media screen and (max-width: 800px) {
    .team__grid {
        column-gap: 50px;
    }
}

@media screen and (max-width: 550px) {
    .team__grid {
        grid-template-columns: 200px;
        column-gap: 0;
        grid-template-rows: repeat(3, 274.2px);
        row-gap: 44px;
    }
}