.problem__title {
    margin: 0;
    padding: 0;
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px;
}

@media screen and (max-width: 980px) {
    .problem__title {
        width: 647px;
        font-size: 38px;
        line-height: 45px;
    }
}

@media screen and (max-width: 725px) {
    .problem__title {
        width: 343px;
        font-size: 28px;
        line-height: 32px;
    }
}