.slide_invisible {
    /* animation: slideout 1s ease-in normal forwards;
    overflow: hidden; */
    display: none;
}

/* @keyframes slideout {
    from {
        visibility: visible;
        margin-left: 0;
        position: absolute;
        left: 0;
        top: 0;
    }

    /*30% {
        left: -30%;
    }

    50% {
        left: -50%;
    } */

    /* to {
        position: absolute;
        left: -100%;
        top: 0;
        width: 0;
        height: 0; 
        visibility: hidden;
    }
}*/