.social__team-name {
    font-family: Spline Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}