.how__circle {
    margin: 0 auto;
    padding: 0;
    height: 700px;
    width: 1240px;
    position: relative;
    justify-self: center;
}

@media screen and (max-width: 770px) {
    .how__circle {
       display: flex;
       height: auto;
       flex-direction: column;
    }
 }