.problem__pics {
    margin: 0;
    padding: 80px 0 0 0;
    display: grid;
    grid-template-columns: repeat(3, 346px);
    column-gap: 60px;
    grid-template-rows: 315px 34px;
    row-gap: 0;
}

@media screen and (max-width: 1160px) {
    .problem__pics {
     grid-template-columns: repeat(3, 314px);
     column-gap: 20px;
    }
}

@media screen and (max-width: 980px) {
    .problem__pics {
        padding-top: 40px;
        grid-template-columns: repeat(3, 229px);
        grid-template-rows: 229px 51px;
        row-gap: 20px;
    }
}

@media screen and (max-width: 725px) {
    .problem__pics {
        padding-top: 40px;
        grid-template-columns: 229px;
        grid-template-rows: repeat(3, auto);
        row-gap: 40px;
    }
}