.header__nav-button {
    width: 132px;
    height: 44px;
    background-color: #FF9820;
    color: white;
    border-radius: 10px;
    border-color: transparent;
    margin: auto 0 auto 20px;
    padding: 13px 24px;
    text-align: center;
    font-size: 14px;
    line-height: 16.59px;
    justify-self: flex-end;
}

.header__nav-button:hover {
    background-color: #E78819;
}

@media screen and (max-width: 1024px) {
    .header__nav-button {
        margin-left: 0;
    }
}

@media screen and (max-width: 545px) {
    .header__nav-button {
        display: none;
    }
}
