@import url('./__caption/problem__caption.css');
@import url('./__cell/problem__cell.css');
@import url('./__circle/problem__circle.css');
@import url('./__content/problem__content.css');
@import url('./__img/problem__img.css');
@import url('./__pics/problem__pics.css');
@import url('./__subtitle/problem__subtitle.css');
@import url('./__text/problem__text.css');
@import url('./__title/problem__title.css');

.problem {
    margin: 0;
    padding: 120px 0 ;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: #1C383C;
}

@media screen and (max-width: 980px) {
    .problem {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

@media screen and (max-width: 725px) {
    .problem {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}