.solution__support {
    margin: 0;
    padding: 0;
    width: 325px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}

@media screen and (max-width: 480px) {
    .solution__support {
        align-self: center;
    }
}