.footer__column {
    margin: 0 ;
    padding: 0 0 0 0;
    max-height: 350px;
}

@media screen and (max-width: 1150px) {
    .footer__column {
       max-width: 350px;
       max-height: 420px;
    }

    .footer__column:nth-of-type(2) {
        padding-top: 40px;
    }
}

@media screen and (max-width: 930px) {
    .footer__column {
       max-width: 340px;
    }

    .footer__column:nth-of-type(2) {
        padding-top: 40px;
    }
}

@media screen and (max-width: 600px) {

    .footer__column:nth-of-type(2) {
        padding-top: 80px;
    }

    .footer__column:last-of-type {
        padding-top: 80px;
    }
}