.chat__msg_type_acc {
    margin-left: 40%;
    margin-right: 50px;
    padding: 0;
    background-color: #1C383C;
    border-radius: 10px 10px 0px 10px;
    color: white;
}

@media screen and (min-width: 320px) and (max-width: 545px) {
    .chat__msg_type_acc {
        margin-left: 32px;
        margin-right: 62px;
    }
}