.header__nav-mobile {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 99%;
    background-color: white;
    z-index: 1;
    margin: 0;
    padding: 110px 0 60px 0;
}