.solution__title {
    margin: 0;
    padding: 120px 0 0 0;
    font-size: 44px;
    font-weight: 600;
    line-height: 52px;
    text-align: center;
}

@media screen and (max-width: 545px) {
    .solution__title {
        padding-top: 60px;
        font-size: 28px;
        line-height: 32px;
    }
}