@import url(./__logo/header__logo.css);
@import url(./__nav/header__nav.css);
@import url(./__nav-button/header__nav-button.css);
@import url(./__nav-link/header__nav-link.css);
@import url(./__title/header__title.css);

.header {
    margin: 8px 20px 0 40px;
    padding: 0;
    font-weight: normal;
    display: flex;
    max-width: calc(100% - 60px);
}