.solution__arrow-next {
    width: 24px;
    height: 24px;
    margin: auto 0;
    padding: 0;
    background-color: #1C383C;
    background-image: url('../../../images/arrow-next.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8px;
    border-radius: 1em;
    border: none;
    position: absolute;
    top: 50%;
    right: 40px;
}

@media screen and (max-width: 545px) {
    .solution__arrow-next {
        top: 90%;
        bottom: 0;
    }
}